<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments :: page_head('Meal Nanny Accounts Page')">
</head>


<body>
<div class="container-fluid">

    <div th:replace="navbar :: navbar">
        <h2>Manage Accounts</h2>
        <a th:href="@{/accounts/new}">Create New User</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success">
        [[${message}]]
    </div>

    <div>
        <table class = "table table-bordered table-striped table-hover table-responsive-xL">
            <thead class = "thead-dark">
                <tr>
                    <th>User Account</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Status/Active</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="account : ${listAccounts}">
                    <td>
                        [[${account.id}]]
                    </td>
                    <td>
                        [[${account.email}]]
                    </td>
                    <td>
                        [[${account.firstName}]]
                    </td>
                    <td>
                        [[${account.lastName}]]
                    </td>
                    <td>
                        [[${account.roles}]]
                    </td>
                    <td>
                        [[${account.active}]]
                    </td>
                    <td>
                        <a th:href="@{'/accounts/edit/' + ${account.id}}" title = "Edit User">Edit</a>
                        &nbsp;
                        &nbsp;
                        <a th:href="@{'/accounts/delete/' + ${account.id}}" title = "Delete User">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
    </div>

</div>
</body>
</html>