<!-- Basic error page with header made with Thymeleaf reusable fragments.-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Meal Nanny Error Page')">
</head>

<body>
<div class="container-fluid">
    <div th:replace="navbar :: navbar">
    </div>


    <div class="m-3">
        <div class="error-body">
            <h2>Darn, we're still building this feature, so you found a temporary error!</h2>
            <h1> <span class="ascii">(╯°□°）╯︵ ┻━┻   (⊙_⊙;)</span></h1>
            <p>
            <a href="http://localhost:8080/MealnannyAdmin">Let's pretend this never happened and go home</a>
            </p>
        </div>
    </div>


    <div>
        <p class="footer"> Copyright &copy; 2023 Meal Nanny. All rights reserved.</p>
    </div>
</div>
</body>
</html>