<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Meal Nanny Homepage')">
</head>


<body>
<div class="container-fluid">

    <div th:replace="navbar :: navbar">
    </div>

    <div th:replace="fragments :: mealnanny_animation('animation')">
    </div>

    <br>
    <h3>
    <div>
        Welcome Back <a style="color:black;"
            sec:authentication="principal.fullname"></a>

    </div>
    </h3>
    <br>
    <div>
        <p class="footer"> Copyright &copy; 2023 Meal Nanny. All rights reserved.</p>
    </div>
</div>
</body>
</html>