<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <title>Home: Meal Nanny Admin </title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
</head>


<body>
<div class="container-fluid">

    <div>
        <h1>You are looking at Meal Nanny's admin control panel.</h1>
    </div>

    <div>
        <p> Copyright &copy; 2023 Meal Nanny. All rights reserved.</p>
    </div>
</div>
</body>
</html>