<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Create Product Page')">
<body>
<div class="container-fluid">
    <div th:replace="navbar :: navbar"></div>


    <div>
        <h2>Manage Products | [[${pageTitle}]]</h2>
    </div>
    <!-- NOTE: When you make a POST request, you have to encode the data that forms the body of the request in some way
     and
     multipart/form data is when you are writing client side code that includes input type=file elements -->
    <form th:action="@{/stocklist/save}" method="post" th:object="${product}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />

        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#images" role="tab">Images</a>
                </li>

                <!--
                 <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#description" role="tab">Description</a>
                 </li>

                 <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#inStock" role="tab">In Stock Qty</a>
                 </li>

                 <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#cost" role="tab">Cost</a>
                 </li>
                 -->
            </ul>

            <div class="tab-content">
                <div class="tab-pane active p-3" id="overview" role="tabpanel">
                    <div th:replace="product_overview :: content"></div>
                </div>
                <div class="tab-pane" id="images" role="tabpanel">
                    <div th:replace="product_images :: content"></div>
                </div>
                <div class="tab-pane" id="description" role="tabpanel">Description</div>
                <div class="tab-pane" id="inStock" role="tabpanel">In Stock Qty</div>
                <div class="tab-pane" id="cost" role="tabpanel">Cost ($ USD)</div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Save" />
            <input type="button" value="Cancel" id="buttonCancel" />
        </div>
    </form>

</div>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>
