<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <title> [[${title}]] </title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <!-- external CSS file req for capstone -->
    <link rel="stylesheet" href="styles.css" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>

    <!-- external Javascript file req for capstone -->
    <script type="text/javascript" th:src="@{/js/javascript.js}" ></script>
</head>

<body>
<div th:fragment = "mealnanny_animation(animation)" id=container>
    Sharing...
    <div id=flip>
        <div><div>FOOD</div></div>
        <div><div>COMMUNITY</div></div>
        <div><div>KINDNESS</div></div>
        <div><div>LOVE</div></div>
        <div><div>HOPE</div></div>
    </div>
    ...Join Us!
</div>
</body>

</html>
