<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Meal Nanny Stocklist Page')">
<body>

<div class="container-fluid">
    <div th:replace="navbar :: navbar">
    </div>
    <div>
        <h2>Stocklist</h2>

        <a th:href="@{/stocklist/new}">Add New Product</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success">
        [[${message}]]
    </div>

    <div class=>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>Main Image</th>
                <th>Product Name</th>
                <th>Stock (Qty)</th>
                <th>Cost ($ USD)</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td>
                    <img th:src="@{${product.mainImagePath}}" style="width: 120px" class="img-fluid" />
                </td>
                <td>[[${product.name}]]</td>
                <td>[[${product.inStock}]]</td>
                <td>[[${product.cost}]]</td>
                <td>
                    [[${product.description}]]


                    <!-- Unnecessary Feature
                    <a th:href="@{'/stocklist/detail/' + ${product.id}}"
                       title="View details of this product"
                    ></a>
                    -->
                    <!--
                    <div
                            th:replace="fragments :: status(${product.inStock}, 'product', '/products/' + ${product.id})" />
                     -->
                </td>
                <td>
                    <a th:href="@{'/stocklist/delete/' + ${product.id}}" title = "Delete Product">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'stocklist');
        });
    });

</script>
</body>
</html>